/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(#4f9ef8, 70%, #91c0f8);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e1f1ff;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%; 
}

.pricing-header {
    width: 90%;
    padding-bottom: 25px;
    font-size: 1em;
    font-weight: 600;
    color: #888;
    letter-spacing: 1px;
    border-bottom: 1px solid #e1f1ff;
}

.pricing-features {
    width: 90%;
    color: #4499fa;
}

.pricing-features-item {
    padding: 15px 0;
    font-size: 0.7em;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1px;
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    font-weight: bolder;
    padding: 15px 0;
    font-size: 2em;
    font-weight: 700;
    color: #4499fa;
    display: block;
}

.pricing-button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #9dd1ff;
    color: #348efe;
    margin-bottom: 30px;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
    /* background-color: rgba(173, 216, 230, 0.289); */
    background-color: #e1f1ff;
}

.is-featured {
    color: white;
    border: none;
    background-color: #48aaff;
}

.is-featured:hover, .is-featured:focus {
    background-color: #269aff;
}

@media (min-width: 769px) {
    .panel {
        flex-direction: row;
    }

    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 20px 40px;
    }

    .pricing-plan:last-child {
        border-right: none;
    }
}