section {
    width: 80%;
    height: 800px;
    /* background-image: url(https://images.unsplash.com/photo-1637208469121-a5b8f2db869b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-size: cover;
    background-size: 20%;
    background-position: bottom; */
    font-family: 'Anton', sans-serif;
    background: center/90% no-repeat url(https://images.pexels.com/photos/771881/pexels-photo-771881.jpeg?cs=srgb&dl=pexels-reynaldo-brigworkz-brigantty-771881.jpg&fm=jpg) rgb(233, 88, 136);
    margin: 0 auto;
    font-size: 100px;
    color: white;
    text-align: center;
}